:root{   /*Asignacion de variables para poder elegir principalmente colores en las clases  color: var(--primario);*/

    --blanco: #ffffff;
    --oscuro: #f6f7f321;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    --grisclaro: #DFE9F3;

}

html {                      /*Se introducira al inicio del CSS para darle formato a los REM*/
    font-size: 62.5%;
    box-sizing: border-box; /*Hace que los pixeles no se modifiquen al aplicar algun paddin o margen*/
}
*, *:before, *:after{
    box-sizing: inherit;
}

.titulo{
    font-size: 2rem;
    text-align: center;
}

.titulo__span{
    font-size: 1.5rem;
    color: red;
}

.imagen_principal{
    position: relative;
    background-image: url(/img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;
    font-size: 2rem;
    
   
}

.back_img{
    position: absolute;
    background: rgba(0,0,0,.7);
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
   
    
    
   
    
}